.sections {
  display: flex;
  height: 90vh;
}



.popular {
  flex: 1;
}

.events {
  flex: 2;
  box-shadow: 10.4px 20.7px 10px rgba(0, 0, 0, 0.062),
  83px 165px 80px rgba(0, 0, 0, 0.13);
  box-shadow:
  0px -9.6px 10px rgba(0, 0, 0, 0.195),
  0px 53px 80px rgba(0, 0, 0, 0.41);
  overflow: scroll;

}

.events::-webkit-scrollbar {
  display: none;
}

.users {
  flex: 1;
}


@media only screen and (max-width: 600px) {
  .popular {
    display: none;
  }
  .users {
    display: none;
  }
}